<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Login</title>
</head>
<body>
    <div class="login-page">
        <div class="form">

            <div class="wordmark">
                <h1></h1>
            </div>

          <form class="register-form" action="POST">
            <input type="text" placeholder="Mobile Number or Email"/>
            <input type="password" placeholder="Password"/>
            <button>Log In</button>
          </form>

          <p class="terms">By continuing, you agree to ribbitwise's <a href="#">Conditions of Use</a> and <a href="#">Privacy Notice</a>.</p>

          <p class="line">Need Help?</p>

          <p><a href="#" style="color: rgb(0, 149, 246); text-decoration: none;">Forgot Password?</a></p>

        </div>
    </div>

    <div class="login">
        <p>Don't have an account? <a href="/register">Sign up</a></p>
    </div>

    <div class="footer">
        <p><a href="../index.html">Home</a></p>
        <p><a href="../index.html">About Us</a></p>
        <p><a href="#">Blog</a></p>
        <p><a href="#">Help</a></p>
        <p><a href="#">Careers</a></p>
    </div>
</body>
</html>